.app {
  font-size: 16px;
  background: linear-gradient(10deg, rgba(7, 7, 109, .88), rgba(55, 10, 4, .99) ), url('../wiphala-clear.png');
  color: #fff;
  padding: 0;
  transition: .2s;
}


.app input, .app textarea {
  box-sizing: border-box;
  display: block;
  font-size: 1em;
  border: 1px solid #aaa;
  padding: .5em;
  font-family: "Open Sans", sans-serif;
  margin-top: .2em;
  width: 100%;
}

.app input[type="checkbox"] {
  display: inline;
  width: auto;
}

.app label {
  display: block;
  margin-bottom: 1em;
  font-weight: 600;
}

.app label:last-of-type {
  margin-bottom: 0;
}