.container {
    column-count: 2;
    column-gap: 0;
}

.description,
.controls,
.form{
    break-inside: avoid;
}

.description {
    padding: 4em 1em;
}

.description h1 {
    margin-top: 0;
}

.description p:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .container {
        column-count: 1;
        display: flex;
        flex-direction: column;
    }

    .controls {
        order: 2;
    }
}