.group {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.label {
    box-sizing: border-box;
    order: 0;
    flex: 1 0 100%;
}

.input {
    box-sizing: border-box;
    order: 1;
    flex: 1 0 100%;
}